<a href="https://colab.research.google.com/github/CezarMassayoshi/IndicadoresTCC/blob/main/GOLL4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando as bibliotecas

In [ ]:
#Instalando a Biblioteca Investpy
!pip install investpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: investpy in /usr/local/lib/python3.7/dist-packages (1.0.8)
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (57.4.0)
Requirement already satisfied: lxml>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (4.9.1)
Requirement already satisfied: Unidecode>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.4)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (2.23.0)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.21.6)
Requirement already satisfied: pytz>=2019.3 in /usr/local/lib/python3.7/dist-packages (from investpy) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2022.6.15)

In [ ]:
import pandas as pd #importando a biblioteca do pandas

In [ ]:
import investpy as inv #importando a biblioteca do investpy

# Importando dados da biblioteca Investpy

In [ ]:
ticker = "GOLL4" #para alterar o ativo desejado é so mudar a sigla do ativo escolhido

In [ ]:
inv.get_stock_company_profile(ticker, country= 'Brazil') #informações sobre o ativo analisado

{'desc': 'GOL Linhas Aéreas Inteligentes S.A. provides scheduled and non-scheduled air transportation services for passengers and cargo; and maintenance services for aircrafts and components in Brazil, rest of South America, the Caribbean, and the United States. The company offers Smiles frequent-flyer programs to approximately 19 million members, allowing clients to accumulate and redeem miles. It operates a fleet of 135 Boeing 737 aircrafts with 492 daily flights. GOL Linhas Aéreas Inteligentes S.A. was founded in 2000 and is headquartered in São Paulo, Brazil.',
 'url': 'https://www.investing.com/equities/gol-pn-es-n2-company-profile'}

In [ ]:
tabela_valores = inv.get_stock_information( ticker, country = 'brazil') #importando os dados do site invest.com

In [ ]:
tabela_valores #exibindo os dados escolhidos

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,GOLL4,9.02,8.95-9.32,9.090000e+09,9.15,8.87-23.41,-5.17,3565900.0,3.560000e+09,N/A(N/A),7892273.0,-,2.11,-61.54%,395026195.0,28/07/2022

In [ ]:
#Excluindo os dados não utilziados na tabela
dfi = tabela_valores.drop(columns=['Stock Symbol','Todays Range','Revenue','Open','52 wk Range','Volume','Average Vol. (3m)','P/E Ratio',	'Beta',	'1-Year Change','Market Cap',	'Next Earnings Date'])

In [ ]:
dfi #exibindo a tabela, sendo Prev. Close o preço do ativo, EPS lucro por ação e Shares Outstanding o total de quantidades de ações

   Prev. Close   EPS Dividend (Yield)  Shares Outstanding
0         9.02 -5.17         N/A(N/A)         395026195.0

In [ ]:
#Buscando o dados financeiros dos ultimos anos, sendo Total Revenue o patrimonio Liquido e Net Income o lucro líquido
dfe = inv.get_stock_financial_summary(stock=ticker, country= 'Brazil',summary_type='income_statement',period = 'annual')
dfe

            Total Revenue  Gross Profit  Operating Income  Net Income
Date
2021-12-31        7433.38      -1160.31          -3834.59    -7221.54
2020-12-31        6371.82        718.51          -1685.66    -5988.13
2019-12-31       13864.70       4057.68           2132.74     -117.27
2018-12-31       11411.35       2276.04           1346.01    -1085.39

# Pegando os dados da tabela do Investpy

In [ ]:
p = dfi['Prev. Close'][0] #preço da ação
p

9.02

In [ ]:
l = dfi['EPS'][0] #lucro por ação
l

-5.17

In [ ]:
qtdacao = dfi['Shares Outstanding'][0] #quantidade de ação
qtdacao

395026195.0

In [ ]:
## A empresa GOL nao paga dividendos ao seu acionista
##dividendos = dfi['Dividend (Yield)'][0] #dividendos pago nos ultimos 12 meses
##div12 = dividendos.split("(")[0]
##div12 = float(div12)
##div12

In [ ]:
lucroliq = dfe['Net Income'][0] # lucro liquido 
lucroliq = lucroliq*(10**6)
lucroliq

-7221540000.0

In [ ]:
patriliq = dfe['Total Revenue'][0] #patrimonio liquido
patriliq = patriliq*(10**6)
patriliq

7433380000.0

# Calculo dos indicadores

In [ ]:
##RESULTADOS REFERENTES A AÇÃO GOL4
# Empresa GOL
# VARIAVEIS PARA O CALCULO DOS INDICADORES
vpa = patriliq/qtdacao #valor patrimonial

def primeiroindicador(pl):
    if pl<0:
        print("O lucro por ação é negativo")
    else:
        pass

def segundoindicador(pv):
    if 0<pv<1:
        pvi= (1-pv)*100
        print("Pelo segundo indicador a ação está mais barata {}%".format(pvi))
    elif pv<0:
        print("A empresa tomou prejuizo")
    elif pv==1:
        print("O preço da ação está no preço que o mercado está disposto a pagar")
    else:
        pvs= (pv-1)*100
        print("Pelo segundo indicador a ação está mais cara {}".format(pvs))

def terceiroindicador(roe):
    dinheiroroe= (roe/100)*p
    print("a valorização total em reais foi de {} de acordo com ROE".format(dinheiroroe))

#def quartoindicador(div12):
    #dinheirodiv= (dy/100)*p
    #print("O total pago em dividendo nos ultimos 12 meses é de {}".format(dinheirodiv))

#INDICADORES
pl = p/l #primeiro indicador preço por lucro
pv = p/vpa #segundo indicador preço por valor patrimonial
roe = (lucroliq/patriliq)*100 #retorno sobre o patrimonio
#dy = (div12/p)*100 #dividend yield

print("O  primeiro indicador, preço por lucro é {}".format(pl))
print("O  segundo indicador, preço por valor patrimonial é {}".format(pv))
print("O  terceiro indificador, retorno sobre o patrimonio(ROE) é {}".format(roe))
#print("O quarto e ultimo indicador, Dividend Yield é {}".format(dy))
primeiroindicador(pl)
segundoindicador(pv)
terceiroindicador(roe)
#quartoindicador(div12)

O  primeiro indicador, preço por lucro é -1.7446808510638296
O  segundo indicador, preço por valor patrimonial é 0.47934267841816236
O  terceiro indificador, retorno sobre o patrimonio(ROE) é -97.15015242056776
O lucro por ação é negativo
Pelo segundo indicador a ação está mais barata 52.06573215818376%
a valorização total em reais foi de -8.76294374833521 de acordo com ROE