<a href="https://colab.research.google.com/github/CezarMassayoshi/IndicadoresTCC/blob/main/Indicadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando as bibliotecas

In [ ]:
#Instalando a Biblioteca Investpy
!pip install investpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: investpy in /usr/local/lib/python3.7/dist-packages (1.0.8)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.21.6)
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (57.4.0)
Requirement already satisfied: pytz>=2019.3 in /usr/local/lib/python3.7/dist-packages (from investpy) (2022.1)
Requirement already satisfied: Unidecode>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.4)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (2.23.0)
Requirement already satisfied: lxml>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2022.6.15)

In [ ]:
import pandas as pd #importando a biblioteca do pandas

In [ ]:
import investpy as inv #importando a biblioteca do investpy

# Importando dados da biblioteca Investpy

In [ ]:
ticker = "SMTO3" #para alterar o ativo desejado é so mudar a sigla do ativo escolhido por exemplo: "WEGE3" "BBSA3" "SMTO3"

In [ ]:
inv.get_stock_company_profile(ticker, country= 'Brazil') #informações sobre o ativo analisado

{'desc': "Sao Martinho SA is a Brazil-based company primarily engaged in the sugar manufacture. The Company's activities are divided into five business segments: Sugar, responsible for the cultivation of sugarcane, as well as production and sale of raw sugar; Ethanol, which manufactures ethanol fuels derived from sugarcane processing; Electricity, which is involved in the cogeneration of electricity from sugarcane bagasse; Real estate ventures, which provides land subdivision, development and sale, and Other, which includes operations related to the production and sale of ribonucleic acid through its subsidiary Omtek, as well as other sugarcane processing byproducts, such as yeast, used in animal feed, and fuel oil, used as a solvent and in the manufacture of explosives and pure amyl alcohol. The Company is a subsidiary of Ljn Participacoes SA.",
 'url': 'https://www.investing.com/equities/sao-martinho-on-nm-company-profile'}

In [ ]:
tabela_valores = inv.get_stock_information( ticker, country = 'brazil') #importando os dados do site invest.com

In [ ]:
tabela_valores #exibindo os dados escolhidos

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,SMTO3,34.69,34.46-35.97,4.240000e+09,34.46,29.89-52.9,4.28,1114800.0,1.279000e+10,2.1942(6.33%),1694518.0,8.11,0.92,-1.36%,356375066.0,08/08/2022

In [ ]:
#Excluindo os dados não utilziados na tabela
dfi = tabela_valores.drop(columns=['Stock Symbol','Todays Range','Revenue','Open','52 wk Range','Volume','Average Vol. (3m)','P/E Ratio',	'Beta',	'1-Year Change','Market Cap',	'Next Earnings Date'])

In [ ]:
dfi #exibindo a tabela, sendo Prev. Close o preço do ativo, EPS lucro por ação e Shares Outstanding o total de quantidades de ações

   Prev. Close   EPS Dividend (Yield)  Shares Outstanding
0        34.69  4.28    2.1942(6.33%)         356375066.0

In [ ]:
#Buscando o dados financeiros dos ultimos anos, sendo Total Revenue o patrimonio Liquido e Net Income o lucro líquido
dfe = inv.get_stock_financial_summary(stock=ticker, country= 'Brazil',summary_type='income_statement',period = 'annual')
dfe

            Total Revenue  Gross Profit  Operating Income  Net Income
Date
2022-03-31        5719.95       2420.26           1967.94     1480.87
2021-03-31        4305.08       1554.25           1545.14      927.12
2020-03-31        3693.86       1207.47           1185.83      639.01
2019-03-31        3360.36        866.28            698.02      314.05

# Pegando os dados da tabela do Investpy

In [ ]:
p = dfi['Prev. Close'][0] #preço da ação
p

34.69

In [ ]:
l = dfi['EPS'][0] #lucro por ação
l

4.28

In [ ]:
qtdacao = dfi['Shares Outstanding'][0] #quantidade de ação
qtdacao

356375066.0

In [ ]:
dividendos = dfi['Dividend (Yield)'][0] #dividendos pago nos ultimos 12 meses
div12 = dividendos.split("(")[0]
div12 = float(div12)
div12

2.1942

In [ ]:
lucroliq = dfe['Net Income'][0] # lucro liquido 
lucroliq = lucroliq*(10**6)
lucroliq

1480870000.0

In [ ]:
patriliq = dfe['Total Revenue'][0] #patrimonio liquido
patriliq = patriliq*(10**6)
patriliq

5719950000.0

# Calculo dos indicadores

In [ ]:
##RESULTADOS REFERENTES A Ação da varivel ticker
#Informção da empresa na sexta linha de código
# VARIAVEIS PARA O CALCULO DOS INDICADORES
vpa = patriliq/qtdacao #valor patrimonial

def primeiroindicador(pl):
    if pl<0:
        print("O lucro por ação é negativo")
    else:
        pass

def segundoindicador(pv):
    if 0<pv<1:
        pvi= (1-pv)*100
        print("Pelo segundo indicador a ação está mais barata {}%".format(pvi))
    elif pv<0:
        print("A empresa tomou prejuizo")
    elif pv==1:
        print("O preço da ação está no preço que o mercado está disposto a pagar")
    else:
        pvs= (pv-1)*100
        print("Pelo segundo indicador a ação está mais cara {}".format(pvs))

def terceiroindicador(roe):
    dinheiroroe= (roe/100)*p
    print("a valorização total em reais foi de {} de acordo com ROE".format(dinheiroroe))

def quartoindicador(div12):
    dinheirodiv= (dy/100)*p
    print("O total pago em dividendo nos ultimos 12 meses é de {}".format(dinheirodiv))

#INDICADORES
pl = p/l #primeiro indicador preço por lucro
pv = p/vpa #segundo indicador preço por valor patrimonial
roe = (lucroliq/patriliq)*100 #retorno sobre o patrimonio
dy = (div12/p)*100 #dividend yield

print("O  primeiro indicador, preço por lucro é {}".format(pl))
print("O  segundo indicador, preço por valor patrimonial é {}".format(pv))
print("O  terceiro indificador, retorno sobre o patrimonio(ROE) é {}".format(roe))
print("O quarto e ultimo indicador, Dividend Yield é {}".format(dy))
primeiroindicador(pl)
segundoindicador(pv)
terceiroindicador(roe)
quartoindicador(div12)

O  primeiro indicador, preço por lucro é 8.105140186915888
O  segundo indicador, preço por valor patrimonial é 2.1613215219608564
O  terceiro indificador, retorno sobre o patrimonio(ROE) é 25.889561971695557
O quarto e ultimo indicador, Dividend Yield é 6.325165753819545
Pelo segundo indicador a ação está mais cara 116.13215219608564
a valorização total em reais foi de 8.981089047981188 de acordo com ROE
O total pago em dividendo nos ultimos 12 meses é de 2.1942